body{
    margin: 0;
    padding: 0;
}
.head{
    position: sticky;
    top: 2px;
    width: 100%;overflow: hidden;
    z-index: 1000;
}
.head1{
    background-image: linear-gradient(to right,yellow,rgb(239, 74, 184));
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}
.links{
    display: flex;

}
.links a img{
    height: 50px;
    width: 50px;
    border-radius: 70px;
    margin-right: 5px;
    border-left: 1px solid white;

}
.links a img:hover{
    box-shadow: 0px 10px 1px rgba(221, 221, 221, 1), 0 10px 20px rgba(204, 204, 204, 1);
}
.icon{
    display: flex;
    color: aliceblue;
    margin-top: 11px;
    font-size: 18px ;
}
.h{
margin-top: 0px;
}
.req{
    background-color: rgb(239, 74, 184,0.5);
    border: 2px solid whitesmoke;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    padding: 10px;
}
.req:hover{
    background-color: rgb(255, 255, 0,0.4);
}
.navbar{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
}
.lp{
   display: flex; 
   align-items: center;
   justify-content: space-between;
}
.lp img{
    height: 70px;
    width: 70px;
    border-radius: 60px;
    margin-right: 16px;
    margin: 10px;
}
.navi a{
text-decoration: none;
font-size: 18px;
color: black;
margin-right: 10px;
}
.navi a:hover{
    padding: 10px;
    background-color: rgb(255, 255, 0,0.7);
    border-radius: 4px;

}
.search{
    background-color: rgb(0, 0, 0,0.5);
    padding: 10px;
    border-radius: 3px;
}
.main{
width: 100%;
position: relative; 
height: 100vh; 

}
.main img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;  

}
.dis{
    position: absolute;
    inset: 0;
    background-color: rgb(0, 0, 0,0.4);
    
}
.overlay{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical{
    border-left: 5px solid rgb(239, 74, 184);
    height: 200px;
    margin-right: 40px;
    margin-top: 20px;
}
.con{
    color: #ffffffb1;
    width: 50%;
}
.con h3{
    text-shadow: 150px 2px 3px rgba(255,255,255,0.54);
}
.con h1{
    font-size: 28px;
    text-shadow: 200px 1px 4px rgba(255,255,255,0.54);
}
.con p{
    font-size: 18px;
    line-height: 24px;
}
.read{
color: white;
background-image: linear-gradient(to right,yellow,rgb(164, 6, 111));
border: none;
padding: 13px;
font-size: 15px;
border-radius: 20px;
}
.request{
padding: 13px;
background-color: rgb(0, 0, 0,0.4);
color: white;
border: none;
padding: 13px;
font-size: 15px;
border-radius: 20px;
box-shadow: 10px;

}
.desc{
    background-image: linear-gradient(rgb(255, 255, 0),rgb(164, 6, 111));
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;

}
.card
{
 width: 33.33%;
 margin-left: 30px;
 padding: 20px;
 
}
.cards{
    color: white;
    display: flex;
    justify-content: space-between;
   
}
.cards svg{
    margin-right: 6px;
    margin-top: 6px;
    border:3px solid white;
    padding: 5px;
    border-radius: 30px;

}
.card p{
    font-size: 20px;
    color: white;
    margin-left: 15px;
}
.about{
    margin-top: 15px;
    height: 80vh;
    display: flex;
    justify-content: space-around;
}
.theory{
    margin: 20px;
    padding: 20px;
    width: 50%;
}
hr{
    background-image: linear-gradient(to right,yellow,rgb(233, 7, 45));
    width: 120px;
    margin-left: 0px;
    height: 3px;
    border: none;


}
.theory h3{
    font-size: 22px;
    color: black;
    margin: 20px;
}
.theory p{
    color: grey;
    font-size: 20px;
    line-height: 26px;
    margin-top: 30px;
}
.pic
{
    width: 30%;
    height: 30px;
    margin-top: 50px;
    
}

.pic img{
    object-fit: cover;
    height: 400px;
    margin-top: 30px;
}
.service{
    width: 100%;
    height: 70vh;
    background-image: url(images/world.jpg);
    padding-left: 10px;
}
.service h1{
    padding: 10px;
    padding-top: 30px;
}
.parts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.part{
    position: relative;
    margin: 20px;
    padding: 10px;
}
.part img{
    height: 260px;
    border-radius: 2px;
    box-shadow: 5px;
}
.over{
    display: flex;
    position: absolute;
    inset: 0;
    align-items: end;
    justify-content: center;
    
}
.over svg{
    background-image: linear-gradient(to right,yellow,rgb(251, 39, 205));
    padding: 12px;
    border-radius: 25px;
    
}
.over h2{
    background-color: white;
    padding: 20px;
    font-weight:lighter;
    font-size: 19px;
    border-radius: 28px;
    text-align: end;
    padding-left: 90px;
}
.over2 svg{
    position: absolute;
    margin-top: 16px;

}




